---
layout: mysingle
tags: 
    - leetcode
categories: book
---
{% assign problem_splited = page.title | split: "-" %}
{% assign problem_number = problem_splited[0] | strip %}
{% assign problem_title = problem_splited[1] | strip %}
{% assign problem_title_url = problem_title | replace: " ", "-" %}

<h2>基本信息</h2>
<ul>
    <li>作者: {{ page.book.author }}</li>
    <li>ISBN: {{ page.book.isbn }}</li>
    <li>出版: {{ page.book.publisher }}</li>
    <li>亚麻评分: {{ page.book.amzrate }}</li>
    <li>图书子类: {{ page.book.subcat }}</li>
</ul>

{{ content }}

<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
