---
layout: single
tags: 
    - leetcode
categories: leetcode
---
{% assign problem_splited = page.title | split: "-" %}
{% assign problem_number = problem_splited[0] | strip %}
{% assign problem_title = problem_splited[1] | strip %}
{% assign problem_title_url = problem_title | replace: " ", "-" %}

<footer class="page__meta">
    {% if site.data.ui-text[site.locale].meta_label %}
      <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
    {% endif %}

    {% if site.tag_archive.type and page.tags[0] %}
      {% include tag-list.html %}
    {% endif %}
    <br>
</footer>


<h2><a target="_blank" href="https://leetcode.com/problems/{{ problem_title_url }}">Description</a></h2>

{{ content }}

<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
