---
layout: single
---

<footer class="page__meta">
    {% if site.data.ui-text[site.locale].meta_label %}
      <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
    {% endif %}

    {% if site.tag_archive.type and page.tags[0] %}
      {% include tag-list.html %}
    {% endif %}
    <br/>
</footer>


{{ content }}


{% if page.refs %}
    <h2 id="refs">Refs</h2>
    <ul>
        {% for r in page.refs %}
            <li><a href="{{ r }}">{{ r }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>